extends layout

block content
   h1.
      Farm List
   ul
      each user, i in userlist
         li 
           a(href="#{user.link}" target="_blank")= user.name
           a(href="#{user.link}" target="_blank")= user.xy
           a(class="href" href="/userdel/#{user._id}") Delete
   br
   a(href="/") Home
